<p>Ajourd'hui s'est déroulé le concours %%...%% au CPCE sur le thème « %%...%% ». Nous avons eu au total %%...%% photos en lice pour %%...%% participants et %%...%% jurés. Les vainqueurs sont listés ci-dessous. Bravo à eux, et merci à tous de votre participation, aussi bien en présentant des images qu'en tant que juré d'un jour.<br />
<br />
Rendez-vous à la rentrée pour le prochain concours.</p>

<p>&nbsp;</p>

<h5>Première place&nbsp;: %%NOM_NN%%</h5>

<p style="text-align: center;"><a href="cpce/upload_archives/%%IMAGE_PATH%%"><img src="cpce/resize.php?size=800&img=/home/photocluz/www/cpce/upload_archives%%IMAGE_PATH%%" style="display: block; margin-left: auto; margin-right: auto;" /></a></p>

<h5>Deuxième place&nbsp;: %%NOM_NN%%</h5>

<h5>Troisième place&nbsp;: %%NOM_NN%%</h5>
