ol#contest {
    font-size: 1.5em;
    padding: 1em;
}
ol#contest li {
    margin: 1em;
    border: dotted 1px #CCC;
    padding: .5em;
    text-align: center;
}
ol#contest img {
    max-width: 100%;
    max-height: 90vh;
    width: auto;
    height: auto;
}
ol#contest select {
    width: 100%;
    height: auto;
    margin: auto;
}
#submit {
    width: 100%;
}
#adminbox {
    margin-top: 3em;
    padding: 2em;
    border: #F00 1px solid;
    background: #FCC;
    text-align: center;
}
#adminbox p {
    margin: 1em 0;
}
.submit-ok {
    background-color: #EFD;
}
.submit-missing {
    background-color: #FFC;
}
.submit-fail {
    background-color: #FEC;
}

.chronoform {
    display: none;
}