#container {
    text-align: center;
}
table {
    margin: auto;
}
table img {
    margin: .5em;
}
table td, table th {
    padding: .5em;
}
table td {
    vertical-align: middle;
    text-align: right;
}
table td.image {
    text-align: center;
}
.commands {
    text-align: right;
}
.mark, .stats {
    display: none;
}

.chronoform {
    display: none;
}