#summary {
    border-collapse: collapse;
    margin: 2em;
}
#summary th {
    background: #CCC;
}
#summary th, #summary td {
    border: dotted 1px;
    padding: .5em 2em;
}
.chronoform {
    display: none;
}
