.lg-sub-html, #lg-counter {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}
#user-thumbs {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}
#user-thumbs li {
    display: flex;
    width: 520px;
    margin: 5em auto;
}
#user-thumbs a img {
    margin: auto;
    max-width: 90vw;
    border: 1em solid #fff;
    box-shadow: 0 .5ex 2em #CCC;
}
.caption {
    display: none;
}
.lg-sub-html p.title {
    font-size: 1.2em;
}
.lg-sub-html p.exif {
    font-size: .8em;
}

.chronoform {
    display: none;
}


#user-thumbs a
{
  position: relative;
  margin: auto;
}
#user-thumbs a::before, #user-thumbs a::after
{
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
  z-index:-1;
}
#user-thumbs a::after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}