@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

ul#gallery {
    list-style: none;
    padding: 0;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
}
#gallery li {
    display: flex;
    margin: 1.5em auto;
    padding: 1em;
    background: #FFF;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    text-align: center;
}
#gallery li a {
    margin: auto;
    font-family: 'Permanent Marker';
    font-size: 2em;
    color: #333;
}
#gallery p.image {
    display: flex;
    vertical-align: middle;
}
#gallery p.image img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    margin: auto;
}
#gallery p.name {
    margin: 0px;
}

.chronoform {
    display: none;
}
