table.list {
    border-collapse: collapse;
}

table.list td, table.list th {
    min-width: 25ex;
    padding: .5ex;
}

table.list td {
    vertical-align: middle;
}

.chronoform {  display: none;  }
