
/* allows captions to auto-hide */
.lg-hide-items .lg-sub-html {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
}

ol#contest {
    font-size: 1.4em;
    padding: 1em;
}
ol#contest li {
    margin: 1em;
    border: dotted 1px #CCC;
    padding: .5em;
}
ol#contest img {
    display: block;
    max-width: 100%;
    max-height: 90vh;
    width: auto;
    height: auto;
    margin: auto;
    margin-bottom: 1em;
}
ol#contest select {
    float: right;
    width: 50%;
    height: auto;
}
ol#contest label {
    height: 2em;
}
ol#contest label::after {
    content: ' :';
}
#submit {
    width: 100%;
}
.caption {
    display: none;
}
.lg-sub-html p.title {
    font-size: 1em;
}
.lg-sub-html p.exif {
    font-size: .8em;
    color: #CCC;
}
#adminbox {
    margin-top: 3em;
    padding: 2em;
    border: #F00 1px solid;
    background: #FCC;
    text-align: center;
}
#adminbox p {
    margin: 1em 0;
}
.submit-ok {
    background-color: #EFD;
}
.submit-missing {
    background-color: #FFC;
}
.submit-fail {
    background-color: #FEC;
}

.chronoform {
    display: none;
}