/* allows captions to auto-hide */
.lg-hide-items .lg-sub-html {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
}

ol#contest {
    font-size: 1.5em;
    padding: 1em;
}
ol#contest li {
    margin: 1em;
    border: dotted 1px #CCC;
    padding: .5em;
    text-align: center;
}
ol#contest img {
    max-width: 100%;
    max-height: 90vh;
    width: auto;
    height: auto;
}
ol#contest select {
    width: 100%;
    height: auto;
    margin: auto;
}
#submit {
    width: 100%;
}
.caption {
    display: none;
}
.lg-sub-html p.title {
    font-size: 1em;
}
.lg-sub-html p.exif {
    font-size: .8em;
    color: #CCC;
}
#adminbox {
    margin-top: 3em;
    padding: 2em;
    border: #F00 1px solid;
    background: #FCC;
    text-align: center;
}
#adminbox p {
    margin: 1em 0;
}
.submit-ok {
    background-color: #EFD;
}
.submit-missing {
    background-color: #FFC;
}
.submit-fail {
    background-color: #FEC;
}

label, select {
    display: block;
    width: 100%;
    margin: .2em;
    text-align: center;
}

.chronoform {
    display: none;
}