/* allows captions to auto-hide */
.lg-hide-items .lg-sub-html {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
}


#container {
    text-align: center;
}
table {
    margin: auto;
}
table img {
    margin: .5em;
}
table td, table th {
    padding: .5em;
}
table td {
    vertical-align: middle;
}
table td.image {
    text-align: center;
}
dl {
    width: 15em;
    overflow: auto;
}
dl dt {
    float: left;
}
dl dd {
    float: right;
}
.commands {
    text-align: right;
}
.mark {
    display: none;
}
.stats img {
    max-width: 100%;
}
.caption {
    display: none;
}
.custom-sort {
    display: none;
}
th.sorted a::before, th.sorted a::after {
    content: '↓';
    margin: .5ex;
}
.lg-sub-html p.title {
    font-size: 1em;
}
.lg-sub-html p.exif {
    font-size: .8em;
    color: #CCC;
}
.highlight {
    font-weight: bold;
    background: #FC9;
    border: none solid;
}
.tech.on, .arts.on, .feel.on {
    font-weight: bold;
    text-decoration: underline;
}
.tech.header::before {
    display: inline-block;
    margin-right: 1ex;
    content: '📸';
}
.arts.header::before {
    display: inline-block;
    margin-right: 1ex;
    content: '🎨';
}
.feel.header::before {
    display: inline-block;
    margin-right: 1ex;
    content: '💕';
}


ul {
    padding: 0;
    list-style: none;
}
.favitem {
    margin: 1em 0;
    text-align: center;
}
.favitem img {
    max-width: 100%;
}
#listimg {
    display: flex;
    flex-flow: wrap;
}
.listitem {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 1em auto;
    line-height: 120px;
    text-align: center;
}

.chronoform {
    display: none;
}