#whatsnext {
    margin: 3em;
    border: solid 1ex #0077bb;
    border-radius: 2ex;
    padding: 1.5em;
    background-color: #ffffff;
    box-shadow: 0 2ex 3em #81c1e8, 0 0 1ex #07B inset;
}
#whatsnext h2 {
    font-size: 2em;
}
#whatsnext h2 strong {
    font-style: italic;
}
#whatsnext h3 {
    text-align: right;
}
#whatsnext .desc {
    margin: 1em 0;
}
#whatsnext p.summary {
    text-align: right;
    font-size: 1.4em;
}
#whatsnext p.details {
    margin-bottom: -1em;
    text-align: center;
}

.chronoform {
    display: none;
}