h2 {
    font-size: 32px;
}

#ics-link {
    display: none;
    width: 25em;
    border: solid 1px;
    vertical-align: middle;
}

#program {
    width: 100%;
}
#program td, #program th {
    padding: 0.5em;
}
#program td img {
    max-width: 50vw;
}
#program .date {
    width: auto;
}
#program .title {
    width: 30%;
}
#program .desc {
    width: auto;
}
#program .past {
    display: none;
    opacity: .5;
}
#program .today {
    color: #0067A2;
}
#program .summary {
    font-style: italic;
}

/* for mobile devices */
@media only screen and (max-width: 600px) {
    #program tr {
        display: flex;
        flex-flow: row wrap;
    }
    #program th {
        display: none;
    }
    #program td {
        width: 100% !important;
    }
    #program .date {
        padding: 0;
        font-size: 1.5em;
    }
    #program .title, #program .desc {
        border: none;
    }
    #program .title b {
        font-size: 1.3em;
    }
    #program td img {
        max-width: 100%;
    }
}

@media print {
    #program {
        font-size: 12pt;
    }
    #toggle-past-events, #toggle-ics-link, footer {
        display: none;
    }
}


.chronoform {
    display: none;
}