.important {
    color: #C00;
}
#summary {
    margin-top:2em;
}
#select {
    margin-top:2em;
}

table.list {
    border-collapse: collapse;
}

table.list td, table.list th {
    min-width: 15ex;
    padding: .5ex;
}
table.list td.memberbox, table.list th.memberbox {
    min-width: 1em;
}

table.list td {
    vertical-align: middle;
}

table.list .yes:before {
    content: '✔︎';
    margin-right: .5ex;
}
table.list .color.yes:before {
    color: #0C0;
}
table.list .no:before {
    content: '✘';
    margin-right: .5ex;
}
table.list .color.no:before {
    color: #C00;
}

.btn.disabled, .btn[disabled] {
    pointer-events: auto;
}

.payment-details {
    display: none;
    position: absolute;
    width: 100;
    background: #FFF;
    z-index: 1;
    margin: .7ex 0;
    padding: .5em 1em;
    border: solid 1px #CCC;
    box-shadow: 0 0 5em #000;
}
.payment-details input {
    margin-left: 1ex;
}
.payment-details input[radio] {
    margin-top: -.5ex;
}
.payment-validation {
    padding-top: 1ex;
    text-align: center;
}


.chronoform {  display: none;  }