.body {
    font-family: Cambria, Arial;
    background: #333;
    color: #fff;
}

.container {
    width: 92%;
    padding: 0 4%;
}

h1 {
    font-weight: normal;
    font-style: italic;
    text-align: center;
    margin: 5px 0 20px;
}

figure {
    margin: 0;
}

.gallery ul {
    list-style: none;
    padding: 0;
}
.gallery li:before {
    content: '' !important;
}
.gallery li {
    padding: 0 !important;
}

a img {
    border: none;
}

ul.gallery {
    max-width: 700px;
    padding: 10px;
    margin: 3em auto !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
}

.gallery:after {
    content: "";
    display: block;
    clear: both;
}
.gallery article {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

.gallery article:target {
    width: 100%;
    height: 100%;
    padding: 100px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    background: rgba(0, 0, 0, .9);
    z-index: 1;
}

.gallery article figure {
    height: 100%;
}

.gallery article img {
    opacity: 0;
    -webkit-transition: .7s;
    transition: .7s;
    border: 10px solid #fff;
    max-height: 100%;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.gallery article:target img {
    opacity: 1;
}

.gallery figure {
    margin: 2em;
    text-align: center;
}

.gallery figcaption {
    text-align: left;
    background: rgba(0, 0, 0, .1);
    padding: 5px 10px;
    font-size: 1.3em;
    font-style: italic;
    margin-top: 0px;
}
.gallery figcaption a {
    float: right;
}

article .close {
    position: absolute;
    left: 50%;
    top: 40px;
    margin-left: -50px;
    width: 100px;
    background: rgba(250, 250, 250, .9);
    color: #333;
    border-radius: 15px;
    text-decoration: none;
    padding: 6px 6px 6px 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
    -webkit-transition: .5s;
    transition: .5s;
}

article .close:before {
    content: "X";
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    position: absolute;
    padding-top: 3px;
    top: 3px;
    left: 5px;
    width: 24px;
    height: 21px;
    background: #666;
    border-radius: 50%;
}

article .close:hover {
    background: #fff;
}

article .arrow {
    position: absolute;
    top: 250px;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    text-indent: -9999px;
    -webkit-transition: .4s;
    transition: .4s;
}

article .prev {
    left: 50%;
    margin-left: -35%;
    border-right: 60px solid rgba(250, 250, 250, .1);
}

article .prev:hover {
    border-right-color: rgba(250, 250, 250, .2);
}

article .next {
    right: 50%;
    margin-right: -35%;
    border-left: 60px solid rgba(250, 250, 250, .1);
}

article .next:hover {
    border-left-color: rgba(250, 250, 250, .2);
}

@media screen and (max-width:1100px) {
    article .arrow {
        top: 36px;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }
    article .prev {
        margin-left: -130px;
        border-right: 40px solid rgba(250, 250, 250, .3);
    }
    article .next {
        margin-right: -130px;
        border-left: 40px solid rgba(250, 250, 250, .3);
    }
}

@media screen and (max-width:600px) {
    h1 {
        font-size: 1.4em;
    }
    .gallery li {
        width: 23%;
    }
}

@media screen and (max-width:450px) {
    h1 {
        font-size: 1.2em;
    }
    .gallery li {
        width: 31%;
    }
}

@media screen and (max-width:350px) {
    h1 {
        font-size: 1.2em;
    }
    .gallery li {
        width: 48%;
    }
}


.chronoform {
    display: none;
}
