#trombi {
    list-style: none;
    text-align: center;
}
#trombi li {
    display: inline-block;
    vertical-align: top;
    margin: 1em;
    padding: 5px;
    text-align: center;
    box-shadow: 0.3em .3em 1em #999;
}
#trombi li img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    background-size: cover;
}
#trombi li p {
    margin: .2em 0;
}
#trombi li p.name {
    font-weight: bold;
    font-size: .9em;
}
/*
#trombi li p.name br {
    display: inline;
    content: ' ';
    margin: .2em;
}
*/
#trombi li p.pseudo {
    font-style: italic;
    font-size: .8em;
}

@media print {
    @page {
        size: auto;
        margin: 2cm;
    }
    body {
        margin: 0;
        padding: 0;
        font-size: 10pt;
    }
    #t3-content, #t3-mainbody {
        width: 100%;
        padding: 0;
    }
    #trombi {
        padding: 0;
    }
    #trombi li {
        margin: 1em 0 0;
        padding: 0px;
        box-shadow: none;
    }
    #trombi li img {
        width: 2cm;
        height: 3cm;
    }
    #trombi li p.name {
        font-size: .8em;
    }
    #trombi li p.pseudo {
        display: none;
    }
    .t3-copyright, #back-to-top {
        display: none;
    }
    .row {
        margin: 0;
    }
}


.chronoform { display: none; }