p.important {
    font-size: 1.2em;
    font-weight: bold;
}
#upload p {
    margin: 3em;
}
.error {
    color: #C00;
    padding: 2em;
    background: #FCC;
    font-weight: bold;
    border: #C00 solid 3px;
}
.chronoform {
    display: none;
}
